force-app/main/default/flows/TestFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Assign_Cast_records_to_collection</name>
        <label>Assign Cast records to collection</label>
        <locationX>270</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>Accumulated_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CastRecordNew</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Selected_Actors_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_selected_Actors</name>
        <label>Assign selected Actors</label>
        <locationX>182</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>Accumulated_Contacts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Contacts_Data_Table.selectedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Selected_Actors_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_values_to_Cast_records</name>
        <label>Assign values to Cast records</label>
        <locationX>270</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>CastRecordNew.Movie__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MovieId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CastRecordNew.Character__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_Character_name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CastRecordNew.Actor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Actors_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CastRecordNew.Price_Per_Hour__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CastRecordNew.Actor__r.Price_Per_Hour__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Cast_records_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_list_of_unavailable_Actors</name>
        <label>Build list of unavailable Actors</label>
        <locationX>270</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>IdsText</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Cast_Loop.Actor__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cast_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count</name>
        <label>Count</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>ColSize</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_count_of_Cast</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Actor_count_enough</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Actor_count_enough</name>
        <label>Is Actor count enough?</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Get_Cast_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>IfCountGreater</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ColSize</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>NumberOfActors</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warning_Message</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ChoiceOfActors</name>
        <collectionReference>ContactRecord</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Contact</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FilteredActors</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>3 AND (1 OR 2)</filterLogic>
        <filters>
            <field>Available_From__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>AvailableFromDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Available_From__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Actor</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>SelectedActorId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>CastRecordNew.Price_Per_Hour__c</assignToReference>
            <field>Price_Per_Hour__c</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>FirstID</name>
        <dataType>String</dataType>
        <expression>TRIM(LEFT({!SelectedIds}, FIND(&quot;;&quot;,{!SelectedIds})-1))</expression>
    </formulas>
    <formulas>
        <name>RemoveFirstID</name>
        <dataType>String</dataType>
        <expression>TRIM(SUBSTITUTE({!SelectedIds},{!FirstID}+&quot;;&quot;,&quot;&quot;))</expression>
    </formulas>
    <interviewLabel>TestFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Cast without formulae</label>
    <loops>
        <name>Cast_Loop</name>
        <label>Cast Loop</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <collectionReference>Get_Cast_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Build_list_of_unavailable_Actors</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Selected_Actors_Loop</name>
        <label>Selected Actors Loop</label>
        <locationX>182</locationX>
        <locationY>1706</locationY>
        <collectionReference>Accumulated_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Character_Input</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Cast_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Cast_records</name>
        <label>Create Cast records</label>
        <locationX>182</locationX>
        <locationY>2222</locationY>
        <connector>
            <targetReference>End_Message</targetReference>
        </connector>
        <inputReference>Accumulated_Collection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Cast_records</name>
        <label>Get Cast records</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cast_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Movie__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MovieId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Cast__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Actor__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contacts</name>
        <label>Get Contacts</label>
        <locationX>182</locationX>
        <locationY>1382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Actors</targetReference>
        </connector>
        <filterLogic>1 AND 4 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Actor</stringValue>
            </value>
        </filters>
        <filters>
            <field>Available_From__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>AvailableFromDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Available_From__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>IdsText</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_count_of_Cast</name>
        <label>Get Count of Cast records</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Movie__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MovieId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Cast__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_MovieId</name>
        <label>Get MovieId</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Number_of_Actors</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MovieId</elementReference>
            </value>
        </filters>
        <object>Movie__c</object>
        <outputReference>MovieRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Script__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Number_of_Actors</name>
        <label>Get Number of Actors</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_count_of_Cast</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MovieRecord.Script__r.Id</elementReference>
            </value>
        </filters>
        <object>Script__c</object>
        <outputAssignments>
            <assignToReference>NumberOfActors</assignToReference>
            <field>Number_of_Actors__c</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Available_From</name>
        <label>Select Available From</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_MovieId</targetReference>
        </connector>
        <fields>
            <name>AvailableFromDate</name>
            <dataType>Date</dataType>
            <fieldText>Select &apos;Available From&apos; date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Character_Input</name>
        <label>Character Input</label>
        <locationX>270</locationX>
        <locationY>1814</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_values_to_Cast_records</targetReference>
        </connector>
        <fields>
            <name>Actor_Name_header</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;For {!Selected_Actors_Loop.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Enter_Character_name</name>
            <dataType>String</dataType>
            <fieldText>Enter Character name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>End_Message</name>
        <label>End Message</label>
        <locationX>182</locationX>
        <locationY>2330</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>End_Message_Body</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Actors are added to the cast&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Actors</name>
        <label>Select Actors</label>
        <locationX>182</locationX>
        <locationY>1490</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_selected_Actors</targetReference>
        </connector>
        <fields>
            <name>Contacts_Data_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Contacts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-a4a8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Full Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Price_Per_Hour__c&quot;,&quot;guid&quot;:&quot;column-f866&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Price Per Hour&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Birthdate&quot;,&quot;guid&quot;:&quot;column-9298&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Birthdate&quot;,&quot;type&quot;:&quot;date-local&quot;},{&quot;apiName&quot;:&quot;Age__c&quot;,&quot;guid&quot;:&quot;column-a8fc&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Age&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Available Actors</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Warning_Message</name>
        <label>Warning Message</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Cast_records</targetReference>
        </connector>
        <fields>
            <name>MessageBody</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;No more actors needed. Press Next button to add additional backup actors&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Available_From</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>TextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;SUBSTITUTE({!SelectedActors}, &quot;;&quot;, &quot;,&quot;)&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Accumulated_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Cast__c</objectType>
    </variables>
    <variables>
        <name>Accumulated_Contacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>CastRecordNew</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cast__c</objectType>
    </variables>
    <variables>
        <name>CastRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cast__c</objectType>
    </variables>
    <variables>
        <name>ColSize</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ContactRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>currentItem_jhjhjh</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cast__c</objectType>
    </variables>
    <variables>
        <name>IdsText</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MovieCastCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>MovieId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MovieRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Movie__c</objectType>
    </variables>
    <variables>
        <name>NumberOfActors</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>RecordIdCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedActorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedActors</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserEnteredCharacter</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
